.img-gnome-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.img-frame {
  margin: 0 auto;
}

.gnome-name {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.gnome-info {
  font-size: 12px;
}
